@model HomeViewModel

<table class="table-project">
    <colgroup>
        <col span="1" id="row-title">
    </colgroup>
    <tr id="title"><th style="text-align:left" colspan="4">Структура компании</th></tr>
    <tr style="text-align: left; background-color: #eee ">
        <th>Подразделение</th>
        <th>Роль</th>
        <th>Должность</th>
        <th>ФИО</th>
    </tr>

    @{
        var StaffsUpr = Model.staffs.Where(p => p.divisionId == 1).OrderBy(p => p.code);
        var StaffPro = Model.staffs.Where(p => p.divisionId == 2).OrderBy(p => p.code);
        var StaffsIsis = Model.staffs.Where(p => p.divisionId == 3).OrderBy(p => p.code);
        var Roles = Model.roles.OrderBy(p => p.code);
    }
    <tr style="text-align: left; background-color: #eee ">
        <th rowspan="@(StaffsUpr.Count()+1)">Управление</th>
    </tr>
    @foreach (Staff staff in StaffsUpr)
    {
        <tr id="task">
            <th>@Model.roles.FirstOrDefault(p => p.id == staff.roleId).name</th>
            <td>@staff.post</td>
            <td>@staff.name</td>
        </tr>
    }

    <tr style="text-align: left; background-color: #eee ">
        <th rowspan="@(StaffPro.Count()+1)">Отдел проектирования</th>
    </tr>
    @foreach (Staff staff in StaffPro)
    {
        <tr id="task">
            <th>@Model.roles.FirstOrDefault(p => p.id == staff.roleId).name</th>
            <td>@staff.post</td>
            <td>@staff.name</td>
        </tr>
    }

    <tr style="text-align: left; background-color: #eee ">
        <th rowspan="@(StaffsIsis.Count()+1)">Отдел изысканий</th>
    </tr>
    @foreach (Staff staff in StaffsIsis)
    {
        <tr id="task">
            <th>@Model.roles.FirstOrDefault(p => p.id == staff.roleId).name</th>
            <td>@staff.post</td>
            <td>@staff.name</td>
        </tr>
    }

    <tr id="title"><th style="text-align:left" colspan="4">Роли</th></tr>
    <tr style="text-align: left; background-color: #eee ">
        <th colspan="2">Роль</th>
        <th>От кого принимает задачи</th>
        <th>Кому ставит задачи</th>
    </tr>
    @foreach (Role role in Roles)
    {
        <tr style="text-align: left; background-color: #eee " id="task">
            <th colspan="2">@role.name</th>
            <td>@role.supervisor</td>
            <td>@role.recipient</td>
        </tr>
    }

</table>