@model HomeViewModel
<form class="form" id="create-task" method="post">
    <label><h2>Просмотр проекта</h2></label>
    @if (ViewBag.ErrorMassage != "")
    {<label><h2>@ViewBag.ErrorMassage</h2></label>}
</form>
<form class="form" id="form-info-project" method="post">

    @if (ViewBag.Role == "Директор" || ViewBag.Role == "ГИП")
    {<input class="btn-white btn-top" type="submit" value="Редактировать"
            asp-controller="Home" asp-action="TaskTable"
            asp-route-Projid="@Model.redactedProject.id"
            asp-route-ProjectRed="@true" />}
    else
    { <input class="btn-white btn-top" type="submit" value="Редактировать"
             asp-controller="Home" asp-action="TaskTable"
             asp-route-Projid="@Model.redactedProject.id"
             asp-route-meesage="Редактировать проект могут только ГИП и Директор!" />}

    <label>В архиве</label>
    <input id="statusId" disabled class="form-control" value="@Model.redactedProject.archive" />

    <label>Облако</label>
    <input id="statusId" disabled class="form-control" value="@Model.redactedProject.link" />

    <label>Дата создания проекта</label>
    <input id="statusId" disabled class="form-control" value="@Model.redactedProject.dateStart.ToShortDateString()" />

    <label>Шифр проекта</label>
    <input id="statusId" disabled class="form-control" value="@Model.redactedProject.code" />

    <label>Ответственный</label>
    <input id="statusId" disabled class="form-control" value="@Model.redactedProject.supervisor" />

    <label>Приоритет</label>
    <input id="statusId" disabled class="form-control" value="@Model.redactedProject.priority" />

    <label>Краткое описание</label>
    <textarea disabled>@Model.redactedProject.shortName</textarea>

    <label>Полное описание</label>
    <textarea disabled>@Model.redactedProject.name</textarea>

    <label>Стадии проекта</label>
    <textarea disabled>@Model.redactedProject.allStages</textarea>

    <label>Текущая стадия</label>
    <input id="statusId" disabled class="form-control" value="@Model.redactedProject.nowStage" />

    <label>Планируемая дата завершения</label>
    <input id="statusId" disabled class="form-control" value="@Model.redactedProject.plannedFinishDate.ToShortDateString()" />

    <label>Дата завершения</label>
    <input id="statusId" disabled class="form-control" value="@Model.redactedProject.actualFinishDate.ToShortDateString()" />

    <label>История действий по проету</label>
    <textarea disabled>@Model.redactedProject.history</textarea>

</form>