@model HomeViewModel
<form class="form" id="create-task" method="post">
    <label><h2>Редактирование задачи</h2></label>
    <label><h2>@Model.redactedTask.desc</h2></label>
    @if (ViewBag.ErrorMassage != "")
    {<label><h2>@ViewBag.ErrorMassage</h2></label>}
</form>

<form class="form" id="form-redaction-task" method="post">
    <input class="btn-white btn-top" type="submit" value="Отменить редактирование"
           asp-controller="Home" asp-action="TaskTable"
           asp-route-Taskid="@Model.redactedTask.id"
           asp-route-activTable="@Model.activeTableIndex"
           asp-route-staffTableFilter="@Model.filterStaff"
             asp-route-recipientProjectFilter="@Model.filterResProj"
            asp-route-supervisorProjectFilter="@Model.filterSupProj"
            asp-route-porjectFiltr="@Model.filterProj"/>
    @{
        var super = Model.staffs.FirstOrDefault(p => p.name == Model.redactedTask.supervisor);
        var taskSuperRole = Model.roles.FirstOrDefault(p => p.code == super.roleCod).name;
        bool redact = Model.roles.FirstOrDefault(p => p.name == ViewBag.Role).recipient.Split(',').ToList().Contains(taskSuperRole);
        }

    @if ((Model.redactedTask.date.Date >= DateTime.Now.Date && ViewBag.RoleName == Model.redactedTask.creator) || redact)
    {<label>Дата</label>
        <input name="date" asp-for="@Model.redactedTask.date" type="date" class="form-control">
    }
    else
    {
        <label>Дата (только для чтения)</label>
        <input readonly name="date" asp-for="@Model.redactedTask.date" type="date" class="form-control">
    }

    <label>Статус задачи</label>
    <select name="status" asp-for="@Model.redactedTask.status">
        <option value="@Model.redactedTask.status" selected hidden>@Model.redactedTask.status</option>
        <option asp-for="stat">В работе</option>
        <option asp-for="stat">На паузе</option>
        @if (Model.redactedTask.status != "Создана")
        {
            <option asp-for="stat">Выполнена</option>
        }
    </select>

    <label>Комментарий</label>
    <textarea name="comment" class="form-control"></textarea>


    @if (redact)
    {<label>Ответственный</label>
     <select name="supervisor" asp-for="@Model.redactedTask.supervisor">
         <option asp-for="@Model.redactedTask.supervisor" selected hidden>@Model.redactedTask.supervisor</option>
         @if (ViewBag.Role == "Директор")
         {
             @foreach (var staff in Model.staffs.Where(p => p.roleCod == "R02"))
             {
                 <option asp-for="@Model.nullTask.supervisor">@staff.name</option>
             }
             @foreach (var staff in Model.staffs.Where(p => p.roleCod == "R04"))
             {
                 <option asp-for="@Model.nullTask.supervisor">@staff.name</option>
             }
         }
         else if (ViewBag.Role == "ГИП")
         {
             @foreach (var staff in Model.staffs.Where(p => p.roleCod == "R03"))
             {
                 <option asp-for="@Model.nullTask.supervisor">@staff.name</option>
             }
             @foreach (var staff in Model.staffs.Where(p => p.roleCod == "R04"))
             {
                 <option asp-for="@Model.nullTask.supervisor">@staff.name</option>
             }
         }
         else if (ViewBag.Role == "Помощник ГИПа")
         {
             @foreach (var staff in Model.staffs.Where(p => p.roleCod == "R04"))
             {
                 <option asp-for="@Model.nullTask.supervisor">@staff.name</option>
             }
         }
         else if (ViewBag.Role == "НО")
         {
             @foreach (var staff in Model.staffs.Where(p => p.roleCod == "R02"))
             {
                 <option>@staff.name</option>
             }
             @foreach (var staff in Model.staffs.Where(p => p.supervisorCod == ViewBag.RoleCod && p.roleCod == "R05"))
             {
                 <option>@staff.name</option>
             }
             foreach (var staff1 in Model.staffs.Where(p => p.supervisorCod == ViewBag.RoleCod && p.roleCod == "R06"))
             {
                 <option>@staff1.name</option>
             }
         }
         else if (ViewBag.Role == "РГ")
         {
             @foreach (var staff in Model.staffs.Where(p => p.supervisorCod == ViewBag.RoleCod && p.roleCod == "R06"))
             {
                 <option>@staff.name</option>
             }
         }
     </select>
    }
    else
    {
        <label>Ответственный  (только для чтения)</label>
        <input readonly name="supervisor" asp-for="@Model.redactedTask.supervisor" class="form-control" value="@Model.redactedTask.supervisor">
    }


    @if (redact)
    {
        <label>Исполнитель</label>
        <select name="recipient" asp-for="@Model.redactedTask.recipient">
            <option asp-for="@Model.redactedTask.recipient" selected hidden>@Model.redactedTask.recipient</option>

            <option asp-for="@Model.nullTask.supervisor">@ViewBag.RoleName</option>
            @if (ViewBag.Role == "Директор")
            {
                @foreach (var staff in Model.staffs.Where(p => p.roleCod == "R02"))
                {
                    <option asp-for="@Model.nullTask.supervisor">@staff.name</option>
                }
                @foreach (var staff in Model.staffs.Where(p => p.roleCod == "R04"))
                {
                    <option asp-for="@Model.nullTask.supervisor">@staff.name</option>
                }
            }
            else if (ViewBag.Role == "ГИП")
            {
                @foreach (var staff in Model.staffs.Where(p => p.roleCod == "R03"))
                {
                    <option asp-for="@Model.nullTask.supervisor">@staff.name</option>
                }
                @foreach (var staff in Model.staffs.Where(p => p.roleCod == "R04"))
                {
                    <option asp-for="@Model.nullTask.supervisor">@staff.name</option>
                }
            }
            else if (ViewBag.Role == "Помощник ГИПа")
            {
                @foreach (var staff in Model.staffs.Where(p => p.roleCod == "R04"))
                {
                    <option asp-for="@Model.nullTask.supervisor">@staff.name</option>
                }
            }
            else if (ViewBag.Role == "НО")
            {
                @foreach (var staff in Model.staffs.Where(p => p.roleCod == "R02"))
                {
                    <option>@staff.name</option>
                }
                @foreach (var staff in Model.staffs.Where(p => p.supervisorCod == ViewBag.RoleCod && p.roleCod == "R05"))
                {
                    <option>@staff.name</option>
                }
                foreach (var staff1 in Model.staffs.Where(p => p.supervisorCod == ViewBag.RoleCod && p.roleCod == "R06"))
                {
                    <option>@staff1.name</option>
                }
            }
            else if (ViewBag.Role == "РГ")
            {
                @foreach (var staff in Model.staffs.Where(p => p.supervisorCod == ViewBag.RoleCod && p.roleCod == "R06"))
                {
                    <option>@staff.name</option>
                }
            }
        </select>
    }
    else
    {
        <label>Исполнитель (только для чтения)</label>
        <input readonly name="recipient" asp-for="@Model.redactedTask.recipient" class="form-control" value="@Model.redactedTask.recipient">
    }

    @{
        int priority = 0;
        if (Model.projects.FirstOrDefault(p => p.code == Model.redactedTask.projectCode) != null) priority = Model.projects.FirstOrDefault(p => p.code == Model.redactedTask.projectCode).priority;
    }
    <label>Приоритет (только для чтения)</label>
    <input readonly name="pririty" class="form-control" value="@priority" />

    @if (redact)
    {
        <label>Планируемое время исполнения</label>
        <input name="plannedTime" asp-for="@Model.redactedTask.plannedTime" class="form-control">
    }
    else
    {
        <label>Планируемое время исполнения (только для чтения)</label>
        <input readonly name="plannedTime" asp-for="@Model.redactedTask.plannedTime" class="form-control" value="@Model.redactedTask.plannedTime">
    }

    <label>Начало работы над задачей</label>
    <input name="start" asp-for="@Model.redactedTask.start" class="form-control">

    <label>Задача завершена</label>
    <input name="finish" asp-for="@Model.redactedTask.finish" class="form-control">



    <input class="btn-white btn-top" type="submit" value="Сохранить"
           asp-controller="Home" asp-action="RedactTaskToDB"
           asp-route-iid="@Model.redactedTask.id"
           asp-route-activTable="@Model.activeTableIndex"
           asp-route-staffTableFilter="@Model.filterStaff"
             asp-route-recipientProjectFilter="@Model.filterResProj"
            asp-route-supervisorProjectFilter="@Model.filterSupProj"
            asp-route-porjectFiltr="@Model.filterProj"/>

</form>