@model HomeViewModel

<table class="table-project">
    <colgroup>
        <col span="1" id="row-title">
    </colgroup>
    <tr>
        <th>Дата</th>
        <th>Шифр проекта</th>
        <th>Задача</th>
        <th>Статус</th>
        <th>Ответственный</th>
        <th>Переназначить</th>
        <th>Приоритет</th>
        <th>Комментарий</th>
        <th>План время</th>
        <th>Факт время</th>
        <th>Дедлайн</th>
        <th>Начал</th>
        <th>Завершил</th>
    </tr>

    @for (int i = 0; i < 3; i++)
    {

        if (i == 2)
        {
            <tr id="title"><th style="text-align:left" colspan="13">Выполненные задачи</th></tr>

            foreach (Task task in Model.task4Table.Where(p => p.status == "Выполнена").OrderBy(p => p.finish))
            {
                if (Model.staffNames.Contains(task.supervisor) && task.supervisor != ViewBag.RoleName && task.recipient != null) continue;
                @if (task.liteTask == true)
                {
                    <tr style="background-color:green" id="finish-task">
                        <th>@task.date.Date.ToString(@"dd\.MM\.yyyy")</th>
                        <td>@task.projectCode</td>
                        <td>
                            <a asp-controller="Home" asp-action="TaskTable" asp-route-activTable="0" asp-route-Taskid="@task.id"
                               asp-route-staffTableFilter="@Model.filterStaff"
             asp-route-recipientProjectFilter="@Model.filterResProj"
            asp-route-supervisorProjectFilter="@Model.filterSupProj"
            asp-route-porjectFiltr="@Model.filterProj">
                                <button type="submit">@task.desc</button>
                            </a>
                        </td>
                        <td>
                            Выполнена
                        </td>
                        <td>@task.supervisor</td>
                        <td>@task.recipient</td>
                            @if (task.priority == 0)
                            {<td>Вне очереди</td>}
                            else
                            {<td>@task.priority</td>}
                        <td>@task.comment</td>
                        <td>@task.plannedTime.ToString(@"hh\:mm")</td>
                        <td>@task.actualTime.ToString(@"hh\:mm")</td>
                        <td>@task.dedline.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                        <td>@task.start.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                        <td>@task.finish.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                        
                    </tr>
                }
                else
                {
                    <tr id="finish-task">
                        <th>@task.date.Date.ToString(@"dd\.MM\.yyyy")</th>
                        <td>@task.projectCode</td>
                        <td>
                            <a asp-controller="Home" asp-action="TaskTable" asp-route-activTable="0" asp-route-Taskid="@task.id"
                               asp-route-staffTableFilter="@Model.filterStaff"
             asp-route-recipientProjectFilter="@Model.filterResProj"
            asp-route-supervisorProjectFilter="@Model.filterSupProj"
            asp-route-porjectFiltr="@Model.filterProj">
                                <button type="submit">@task.desc</button>
                            </a>
                        </td>
                        <td>
                            Выполнена
                        </td>
                        <td>@task.supervisor</td>
                        <td>@task.recipient</td>
                        @if (task.priority == 0)
                            {<td>Вне очереди</td>}
                            else
                            {<td>@task.priority</td>}
                        <td>@task.comment</td>
                        <td>@task.plannedTime.ToString(@"hh\:mm")</td>
                        <td>@task.actualTime.ToString(@"hh\:mm")</td>
                        <td>@task.dedline.ToString(@"dd\.MM\.yyyy HH\:mm")</td>
                        <td>@task.start.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                        <td>@task.finish.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                    </tr>
                }

            }
        }
        if (i == 0)
        {
            <tr id="title"><th style="text-align:left" colspan="13">Задачи на сегодня</th></tr>
            foreach (Task task in Model.task4Table.Where(p => p.status != "Выполнена").Where(p => p.date.Date <= DateTime.Now.Date).OrderBy(p => p.date.Date).OrderBy(p => p.priority))
            {
                if (Model.staffNames.Contains(task.supervisor) && task.supervisor != ViewBag.RoleName && task.recipient != null) continue;
                @if (task.liteTask == true)
                {
                    <tr style="background-color:green" id="task">
                        <th>@task.date.Date.ToString(@"dd\.MM\.yyyy")</th>
                        <td>@task.projectCode</td>
                        <td>
                            <a asp-controller="Home" asp-action="TaskTable" asp-route-activTable="0" asp-route-Taskid="@task.id"
                               asp-route-staffTableFilter="@Model.filterStaff"
             asp-route-recipientProjectFilter="@Model.filterResProj"
            asp-route-supervisorProjectFilter="@Model.filterSupProj"
            asp-route-porjectFiltr="@Model.filterProj">
                                <button type="submit">@task.desc</button>
                            </a>
                        </td>
                        <td>
                            <form class="form" method="post">
                                @if (task.status == "Создана")
                                {
                                    <input class="btn-white" type="submit" value="В работе"
                                           asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                           asp-route-staffTableFilter="@Model.filterStaff"
                                           asp-route-recipientProjectFilter="@Model.filterResProj"
                                           asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                           asp-route-porjectFiltr="@Model.filterProj"
                                           asp-route-stat="В работе" />
                                }
                                else if (task.status == "В работе")
                                {
                                    <input class="btn-white" style="background-color: green" type="submit" value="В работе"
                                           asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                           asp-route-staffTableFilter="@Model.filterStaff"
                                           asp-route-recipientProjectFilter="@Model.filterResProj"
                                           asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                           asp-route-porjectFiltr="@Model.filterProj"
                                           asp-route-stat="На паузе" />
                                    <input name="stat" class="btn-white" type="submit" value="Выполнена"
                                           asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                           asp-route-staffTableFilter="@Model.filterStaff"
                                           asp-route-recipientProjectFilter="@Model.filterResProj"
                                           asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                           asp-route-porjectFiltr="@Model.filterProj" />
                                }
                                else
                                {
                                    <input class="btn-white" style="background-color: red" type="submit" value="На паузе"
                                           asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                           asp-route-staffTableFilter="@Model.filterStaff"
                                           asp-route-recipientProjectFilter="@Model.filterResProj"
                                           asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                           asp-route-porjectFiltr="@Model.filterProj"
                                           asp-route-stat="В работе" />
                                    <input name="stat" class="btn-white" type="submit" value="Выполнена"
                                           asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                           asp-route-staffTableFilter="@Model.filterStaff"
                                           asp-route-recipientProjectFilter="@Model.filterResProj"
                                           asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                           asp-route-porjectFiltr="@Model.filterProj" />
                                } 
                            </form>
                        </td>
                        <td>@task.supervisor</td>
                        <td>@task.recipient</td>
                        @if (task.priority == 0)
                            {<td>Вне очереди</td>}
                            else
                            {<td>@task.priority</td>}
                        <td>@task.comment</td>
                        <td>@task.plannedTime.ToString(@"hh\:mm")</td>
                        <td>@task.actualTime.ToString(@"hh\:mm")</td>
                        <td>@task.dedline.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                        @if(task.start <= new DateTime(2022,1,1))
                        {
                            <td>-</td>
                        }else{
                            <td>@task.start.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                        }
                        @if(task.finish <= new DateTime(2022,1,1))
                        {
                            <td>-</td>
                        }else{
                            <td>@task.finish.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                        }
                    </tr>
                }
                else
                {
                    <tr id="task">
                        <th>@task.date.Date.ToString(@"dd\.MM\.yyyy")</th>
                        <td>@task.projectCode</td>
                        <td>
                            <a asp-controller="Home" asp-action="TaskTable" asp-route-activTable="0" asp-route-Taskid="@task.id"
                               asp-route-staffTableFilter="@Model.filterStaff"
             asp-route-recipientProjectFilter="@Model.filterResProj"
            asp-route-supervisorProjectFilter="@Model.filterSupProj"
            asp-route-porjectFiltr="@Model.filterProj">
                                <button type="submit">@task.desc</button>
                            </a>
                        </td>
                        <td>
                            <form class="form" method="post">
                                @if (task.status == "Создана")
                                {
                                    <input class="btn-white" type="submit" value="В работе"
                                           asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                           asp-route-staffTableFilter="@Model.filterStaff"
                                           asp-route-recipientProjectFilter="@Model.filterResProj"
                                           asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                           asp-route-porjectFiltr="@Model.filterProj"
                                           asp-route-stat="В работе" />
                                }
                                else if (task.status == "В работе")
                                {
                                    <input class="btn-white" style="background-color: green" type="submit" value="В работе"
                                           asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                           asp-route-staffTableFilter="@Model.filterStaff"
                                           asp-route-recipientProjectFilter="@Model.filterResProj"
                                           asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                           asp-route-porjectFiltr="@Model.filterProj"
                                           asp-route-stat="На паузе" />
                                    <input name="stat" class="btn-white" type="submit" value="Выполнена"
                                           asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                           asp-route-staffTableFilter="@Model.filterStaff"
                                           asp-route-recipientProjectFilter="@Model.filterResProj"
                                           asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                           asp-route-porjectFiltr="@Model.filterProj" />
                                }
                                else
                                {
                                    <input class="btn-white" style="background-color: red" type="submit" value="На паузе"
                                           asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                           asp-route-staffTableFilter="@Model.filterStaff"
                                           asp-route-recipientProjectFilter="@Model.filterResProj"
                                           asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                           asp-route-porjectFiltr="@Model.filterProj"
                                           asp-route-stat="В работе" />
                                    <input name="stat" class="btn-white" type="submit" value="Выполнена"
                                           asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                           asp-route-staffTableFilter="@Model.filterStaff"
                                           asp-route-recipientProjectFilter="@Model.filterResProj"
                                           asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                           asp-route-porjectFiltr="@Model.filterProj" />
                                }
                            </form>
                        </td>
                        <td>@task.supervisor</td>
                        <td>@task.recipient</td>
                        @if (task.priority == 0)
                            {<td>Вне очереди</td>}
                            else
                            {<td>@task.priority</td>}
                        <td>@task.comment</td>
                        <td>@task.plannedTime.ToString(@"hh\:mm")</td>
                        <td>@task.actualTime.ToString(@"hh\:mm")</td>
                        <td>@task.dedline.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                         @if(task.start <= new DateTime(2022,1,1))
                        {
                            <td>-</td>
                        }else{
                            <td>@task.start.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                        }
                        @if(task.finish <= new DateTime(2023,1,1))
                        {
                            <td>-</td>
                        }else{
                            <td>@task.finish.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                        }
                    </tr>
                }

            }
        }
        if (i == 1)
        {
            <tr id="title"><th style="text-align:left" colspan="13">Предстоящие задачи</th></tr>
            foreach (Task task in Model.task4Table.Where(p => p.date.Date > DateTime.Now.Date).OrderBy(p => p.date.Date).OrderBy(p => p.priority))
            {
                if (Model.staffNames.Contains(task.supervisor) && task.supervisor != ViewBag.RoleName && task.recipient != null) continue;
                @if (task.liteTask == true)
                {
                    <tr style="background-color:green" id="task">
                    <th>@task.date.Date.ToString(@"dd\.MM\.yyyy")</th>
                    <td>@task.projectCode</td>
                    <td>
                        <a asp-controller="Home" asp-action="TaskTable" asp-route-activTable="0" asp-route-Taskid="@task.id"
                           asp-route-staffTableFilter="@Model.filterStaff"
             asp-route-recipientProjectFilter="@Model.filterResProj"
            asp-route-supervisorProjectFilter="@Model.filterSupProj"
            asp-route-porjectFiltr="@Model.filterProj">
                            <button type="submit">@task.desc</button>
                        </a>
                    </td>
                    <td>
                        <form class="form" method="post">
                            @if (task.status == "Создана")
                            {
                                <input class="btn-white" type="submit" value="В работе"
                                       asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                       asp-route-staffTableFilter="@Model.filterStaff"
                                       asp-route-recipientProjectFilter="@Model.filterResProj"
                                       asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                       asp-route-porjectFiltr="@Model.filterProj"
                                       asp-route-stat="В работе" />
                            }
                            else if (task.status == "В работе")
                            {
                                <input class="btn-white" style="background-color: green" type="submit" value="В работе"
                                       asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                       asp-route-staffTableFilter="@Model.filterStaff"
                                       asp-route-recipientProjectFilter="@Model.filterResProj"
                                       asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                       asp-route-porjectFiltr="@Model.filterProj"
                                       asp-route-stat="На паузе" />
                                <input name="stat" class="btn-white" type="submit" value="Выполнена"
                                       asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                       asp-route-staffTableFilter="@Model.filterStaff"
                                       asp-route-recipientProjectFilter="@Model.filterResProj"
                                       asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                       asp-route-porjectFiltr="@Model.filterProj" />
                            }
                            else
                            {
                                <input class="btn-white" style="background-color: red" type="submit" value="На паузе"
                                       asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                       asp-route-staffTableFilter="@Model.filterStaff"
                                       asp-route-recipientProjectFilter="@Model.filterResProj"
                                       asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                       asp-route-porjectFiltr="@Model.filterProj"
                                       asp-route-stat="В работе" />
                                <input name="stat" class="btn-white" type="submit" value="Выполнена"
                                       asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                       asp-route-staffTableFilter="@Model.filterStaff"
                                       asp-route-recipientProjectFilter="@Model.filterResProj"
                                       asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                       asp-route-porjectFiltr="@Model.filterProj" />
                            }
                        </form>
                    </td>
                    <td>@task.supervisor</td>
                    <td>@task.recipient</td>
                    @if (task.priority == 0)
                            {<td>Вне очереди</td>}
                            else
                            {<td>@task.priority</td>}
                    <td>@task.comment</td>
                    <td>@task.plannedTime.ToString(@"hh\:mm")</td>
                    <td>@task.actualTime.ToString(@"hh\:mm")</td>
                    <td>@task.dedline.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                    @if(task.start <= new DateTime(2022,1,1))
                        {
                            <td>-</td>
                        }else{
                            <td>@task.start.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                        }
                     @if(task.finish <= new DateTime(2023,1,1))
                        {
                            <td>-</td>
                        }else{
                            <td>@task.finish.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                        }
                    </tr>
                }
                else
                { 
                <tr id="task">
                    <th>@task.date.Date.ToString(@"dd\.MM\.yyyy")</th>
                    <td>@task.projectCode</td>
                    <td>
                        <a asp-controller="Home" asp-action="TaskTable" asp-route-activTable="0" asp-route-Taskid="@task.id"
                           asp-route-staffTableFilter="@Model.filterStaff"
             asp-route-recipientProjectFilter="@Model.filterResProj"
            asp-route-supervisorProjectFilter="@Model.filterSupProj"
            asp-route-porjectFiltr="@Model.filterProj">
                            <button type="submit">@task.desc</button>
                        </a>
                    </td>
                    <td>
                        <form class="form" method="post">
                            @if (task.status == "Создана")
                            {
                                <input class="btn-white" type="submit" value="В работе"
                                       asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                       asp-route-staffTableFilter="@Model.filterStaff"
                                       asp-route-recipientProjectFilter="@Model.filterResProj"
                                       asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                       asp-route-porjectFiltr="@Model.filterProj"
                                       asp-route-stat="В работе" />
                            }
                            else if (task.status == "В работе")
                            {
                                <input class="btn-white" style="background-color: green" type="submit" value="В работе"
                                       asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                       asp-route-staffTableFilter="@Model.filterStaff"
                                       asp-route-recipientProjectFilter="@Model.filterResProj"
                                       asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                       asp-route-porjectFiltr="@Model.filterProj"
                                       asp-route-stat="На паузе" />
                                <input name="stat" class="btn-white" type="submit" value="Выполнена"
                                       asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                       asp-route-staffTableFilter="@Model.filterStaff"
                                       asp-route-recipientProjectFilter="@Model.filterResProj"
                                       asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                       asp-route-porjectFiltr="@Model.filterProj" />
                            }
                            else
                            {
                                <input class="btn-white" style="background-color: red" type="submit" value="На паузе"
                                       asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                       asp-route-staffTableFilter="@Model.filterStaff"
                                       asp-route-recipientProjectFilter="@Model.filterResProj"
                                       asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                       asp-route-porjectFiltr="@Model.filterProj"
                                       asp-route-stat="В работе" />
                                <input name="stat" class="btn-white" type="submit" value="Выполнена"
                                       asp-controller="Home" asp-action="RedactSatusTask" asp-route-activTable="0" asp-route-id="@task.id"
                                       asp-route-staffTableFilter="@Model.filterStaff"
                                       asp-route-recipientProjectFilter="@Model.filterResProj"
                                       asp-route-supervisorProjectFilter="@Model.filterSupProj"
                                       asp-route-porjectFiltr="@Model.filterProj" />
                            }
                        </form>
                    </td>
                    <td>@task.supervisor</td>
                    <td>@task.recipient</td>
                    @if (task.priority == 0)
                            {<td>Вне очереди</td>}
                            else
                            {<td>@task.priority</td>}
                    <td>@task.comment</td>
                    <td>@task.plannedTime.ToString(@"hh\:mm")</td>
                    <td>@task.actualTime.ToString(@"hh\:mm")</td>
                    <td>@task.dedline.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                     @if(task.start <= new DateTime(2022,1,1))
                        {
                            <td>-</td>
                        }else{
                            <td>@task.start.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                        }
                     @if(task.finish <= new DateTime(2023,1,1))
                        {
                            <td>-</td>
                        }else{
                            <td>@task.finish.ToString(@"dd\.MM\.yyyy HH\:mm\:ss")</td>
                        }
                </tr>
                }
            }
        }
    }

</table>