@model HomeViewModel

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css?v=@DateTime.Now.Millisecond">
    <title>App</title>
</head>


<body>
    <main class="main">
        <aside class="task-menu">
            @if (@ViewBag.Role == null)
            {
                <a asp-controller="Login" asp-action="Index">
                    <button style="width:100%" class="btn btn__top-bar" type="button">Войти в сессию</button>
                </a>
            }
            else
            { <h4 class="post"> @ViewBag.Role </h4>}



            <div class="task">
                <p>Задачи</p>
            </div>

            <div class="task">
                <p>Проекты</p>
            </div>


            <div class="task">
                <p>Сотрудники</p>
            </div>

            <div class="task">
                <p>Справочник</p>
            </div>

            <div>
                <a asp-controller="Login" asp-action="Index">
                    <button style="width:100%" class="btn btn__top-bar" type="button">Выйти</button>
                </a>
            </div>


        </aside>
        <div class="content">
            <div class="first-box">
                @if (@ViewBag.Role != null)
                {
                    <div class="first-table" style="display:@Model.activeTable1">
                        <form class="top-menu" action="" method="post">
                            @if (ViewBag.Role != "Сотрудник")
                            {
                                <a asp-controller="Home" asp-action="TaskTable" asp-route-activTable="0">
                                    <button class="btn btn__top-bar" type="button">Добавить задачу</button>
                                </a>
                            }

                            @if (ViewBag.Role == "Директор" || ViewBag.Role == "ГИП")
                            {<a asp-controller="Home" asp-action="TaskTable" asp-route-activTable="0" asp-route-ProjectCreate="@true">
                                    <button class="btn btn__top-bar" type="button">Добавить проект</button>
                                </a>}



                        </form>
                        @Html.Partial("TaskTableTest")
                    </div>
                    <div class="second-table" style="display:@Model.activeTable2">
                        <form class="top-menu" asp-controller="Home" asp-action="TaskTable" asp-route-activTable="1">
                            @if (ViewBag.Role != "Сотрудник")
                            {
                                <a asp-controller="Home" asp-action="TaskTable" asp-route-activTable="1">
                                    <button class="btn btn__top-bar" type="button">Добавить задачу</button>
                                </a>}

                            @if (ViewBag.Role == "Директор" || ViewBag.Role == "ГИП")
                            {<a asp-controller="Home" asp-action="TaskTable" asp-route-ProjectCreate="@true" asp-route-activTable="1">
                                    <button class="btn btn__top-bar" type="button">Добавить проект</button>
                                </a>}


                            <select class="select" id="select" name="porjectFiltr">
                                <option value="@Model.filterProj" selected hidden>@Model.filterProj</option>
                                <option>Все проекты</option>
                                <option>Проекты в архиве</option>
                            </select>


                            <select class="select" id="select" name="supervisorProjectFilter">
                                <option value="@Model.filterSupProj" selected hidden>@Model.filterSupProj</option>
                                <option>Все ГИПы</option>
                                @foreach (string staff in Model.ollGip)
                                {
                                    <option>@staff</option>
                                }
                            </select>



                            <select class="select" id="select" name="recipientProjectFilter">
                                <option value="@Model.filterResProj" selected hidden>@Model.filterResProj</option>
                                <option>Все ответственные</option>
                                @{List<string> taskSuper = new List<string>();
                                    foreach (var task in Model.tasks)
                                    {
                                        if (!taskSuper.Contains(task.supervisor))
                                        {
                                            <option>@task.supervisor</option>
                                            taskSuper.Add(task.supervisor);
                                        }
                                    }

                                }
                            </select>


                            <a>
                                <button class="btn btn__top-bar" type="submit">Отфильтровать</button>
                            </a>
                        </form>
                        @Html.Partial("ProjectTableTest")
                    </div>
                    <div class="third-table" style="display:@Model.activeTable3">
                        <form class="top-menu" method="post" asp-controller="Home" asp-action="TaskTable" asp-route-activTable="2">
                            @if (ViewBag.Role != "Сотрудник")
                            {
                                <a asp-controller="Home" asp-action="TaskTable" asp-route-activTable="2">
                                    <button class="btn btn__top-bar" type="button">Добавить задачу</button>
                                </a>}

                            @if (ViewBag.Role == "Директор" || ViewBag.Role == "ГИП")
                            {<a asp-controller="Home" asp-action="TaskTable" asp-route-ProjectCreate="@true" asp-route-activTable="2">
                                    <button class="btn btn__top-bar" type="button">Добавить проект</button>
                                </a>}

                            @{
                                List<string> post = new List<string>();
                                List<Staff> RG = new List<Staff>();
                            }
                            @if (ViewBag.Role == "Директор")
                            {
                                foreach (var staff in Model.staffs.Where(p => p.roleId == 5))
                                {
                                    if (!post.Contains(staff.post)) post.Add(staff.post);
                                }
                                foreach (var staff in Model.staffs.Where(p => p.roleId == 3))
                                {
                                    if (!post.Contains(staff.post)) post.Add(staff.post);
                                }
                            }
                            else if (ViewBag.Role == "ГИП")
                            {
                                foreach (var staff in Model.staffs.Where(p => p.roleId == 6))
                                {
                                    if (!post.Contains(staff.post)) post.Add(staff.post);
                                }
                                foreach (var staff in Model.staffs.Where(p => p.roleId == 3))
                                {
                                    if (!post.Contains(staff.post)) post.Add(staff.post);
                                }
                            }
                            else if (ViewBag.Role == "Помощник ГИПа")
                            {
                                foreach (var staff in Model.staffs.Where(p => p.roleId == 3))
                                {
                                    if (!post.Contains(staff.post)) post.Add(staff.post);
                                }
                            }
                            else if (ViewBag.Role == "НО")
                            {
                                foreach (var staff in Model.staffs.Where(p => p.roleId == 5))
                                {
                                    if (!post.Contains(staff.post)) post.Add(staff.post);
                                }

                                foreach (var staff in Model.staffs.Where(p => p.supervisorCod == ViewBag.RoleCod && p.roleId == 1))
                                {
                                    if (!post.Contains(staff.post)) post.Add(staff.post);
                                    RG.Add(staff);
                                }
                                foreach (var staff in RG)
                                {
                                    foreach (var staff1 in Model.staffs.Where(p => p.supervisorCod == staff.code && p.roleId == 2))
                                    {
                                        if (!post.Contains(staff1.post)) post.Add(staff1.post);
                                    }
                                }
                            }
                            else if (ViewBag.Role == "РГ")
                            {
                                foreach (var staff in Model.staffs.Where(p => p.supervisorCod == ViewBag.RoleCod && p.roleId == 2))
                                {
                                    if (!post.Contains(staff.post)) post.Add(staff.post);
                                }
                            }


                            <select class="select" id="select" name="staffTableFilter">
                                <option value="@Model.filterStaff" selected hidden>@Model.filterStaff</option>
                                <option>Все должности</option>
                                @foreach (string elem in post)
                                {
                                    <option>@elem</option>
                                }
                            </select>


                            <a>
                                <button class="btn btn__top-bar" type="submit">Отфильтровать</button>
                            </a>
                        </form>
                        @Html.Partial("StaffTableTest")
                    </div>

                    <div class="forth-table" style="display:@Model.activeTable4">
                        
                        @Html.Partial("ManualTableTest")
                    </div>
                }
            </div>
            <div class="second-box">
                @if (@ViewBag.Role != null)
                {
                    @if (Model.taskId != -1 && Model.projectId == -1)
                    {
                        if (Model.TaskRed)@Html.Partial("TaskRedact", Model)
                        else @Html.Partial("TaskWatcht", Model)

                    }
                    @if (Model.projectId != -1 && Model.taskId == -1)
                    {
                        if (Model.ProjectRed)@Html.Partial("ProjectRedact", Model)
                        else @Html.Partial("ProjectWatcht", Model)
                    }
                    @if (Model.projectId == -1 && Model.taskId == -1)
                    {
                        @if (Model.ProjectCreate)@Html.Partial("ProjectCreate", Model)
                        else @Html.Partial("TaskCreate", Model)
                    }
                }
            </div>
        </div>

    </main>
    <script>
            var task = document.querySelectorAll(".task p");
            var table1 = document.querySelector(".first-table");
            var table2 = document.querySelector(".second-table");
            var table3 = document.querySelector(".third-table");
            var table4 = document.querySelector(".forth-table");

            task[0].addEventListener('click', function () {
                table1.style.display = "block";
                table2.style.display = "none";
                table3.style.display = "none";
                table4.style.display = "none";
                @{
                    Model.activeTable1 = "block";
                    Model.activeTable2 = "none";
                    Model.activeTable3 = "none";
                    Model.activeTable4 = "none";
                    Model.activeTableIndex = 0;
                    }
            })
            task[1].addEventListener('click', function () {
                table1.style.display = "none";
                table2.style.display = "block";
                table3.style.display = "none";
                table4.style.display = "none";
                @{
                    Model.activeTable1 = "none";
                    Model.activeTable2 = "block";
                    Model.activeTable3 = "none";
                    Model.activeTable4 = "none";
                    Model.activeTableIndex = 1;
                    }
            })
            task[2].addEventListener('click', function () {
                table1.style.display = "none";
                table2.style.display = "none";
                table3.style.display = "block";
                table4.style.display = "none";
                @{
                    Model.activeTable1 = "none";
                    Model.activeTable2 = "none";
                    Model.activeTable3 = "block";
                    Model.activeTable4 = "none";
                    Model.activeTableIndex = 2;
                    }
            })
            task[3].addEventListener('click', function () {
                table1.style.display = "none";
                table2.style.display = "none";
                table3.style.display = "none";
                table4.style.display = "block";
                @{
                    Model.activeTable1 = "none";
                    Model.activeTable2 = "none";
                    Model.activeTable4 = "block";
                    Model.activeTable3 = "none";
                    Model.activeTableIndex = 3;
                    }
            })
    </script>
</body>
</html>
