@model HomeViewModel

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>App</title>
</head>

<body>
    <main class="main">
        <aside class="task-menu">
            @if (@ViewBag.Role == null)
            {
                <a  asp-controller="Login" asp-action="Index" >
                    <button style="width:100%" class="btn btn__top-bar"  type="button">Войти в сессию</button>
                </a>
            }
            else
            { <h4 class="post"> @ViewBag.Role </h4>}


            <div class="task">
                <p>Задачи</p>
            </div>


            <div class="task">
                <p>Проекты</p>
            </div>


            <div class="task">
                <p>Сотрудники</p>
            </div>

        </aside>
        <div class="content">
            <div class="first-box">
                @if (@ViewBag.Role != null)
                {
                <div class="first-table" style="display:block">
                    <form class="top-menu" action="" method="post">
                        @if (ViewBag.Role != "Сотрудник")
                        {
                            <a asp-controller="Home" asp-action="TaskTable">
                                <button class="btn btn__top-bar" type="button">Добавить задачу</button>
                            </a>
                        }

                        @if (ViewBag.Role == "Директор" || ViewBag.Role == "ГИП")
                        {<a asp-controller="Home" asp-action="TaskTable" asp-route-ProjectCreate="@true">
                                <button class="btn btn__top-bar" type="button">Добавить проект</button>
                            </a>}



                    </form>
                    @Html.Partial("TaskTableTest")
                </div>
                <div class="second-table">
                    <form class="top-menu" asp-controller="Home" asp-action="TaskTable" >
                        @if (ViewBag.Role != "Сотрудник")
                        {
                            <a asp-controller="Home" asp-action="TaskTable">
                                <button class="btn btn__top-bar" type="button">Добавить задачу</button>
                            </a>}

                        @if (ViewBag.Role == "Директор" || ViewBag.Role == "ГИП")
                        {<a asp-controller="Home" asp-action="TaskTable" asp-route-ProjectCreate="@true">
                                <button class="btn btn__top-bar" type="button">Добавить проект</button>
                            </a>}


                        <select class="select" id="select" name="porjectFiltr">
                            <option value="@Model.filterProj" selected hidden>@Model.filterProj</option>
                            <option>Все проекты</option>
                            <option>Проекты в архиве</option>
                        </select>
                        <select class="select" id="select" name="supervisorProjectFilter">
                            <option value="@Model.filterSupProj" selected hidden>@Model.filterSupProj</option>
                            <option>Все ГИПы</option>
                            @foreach (Staff staff in Model.staffs.Where(p => p.roleId == 5).OrderBy(p => p.name))
                            {
                                <option>@staff.name</option>
                            }
                        </select>

                        <select class="select" id="select" name="recipientProjectFilter">
                            <option value="@Model.filterResProj" selected hidden>@Model.filterResProj</option>
                            <option>Все ответственные</option>
                            @{List<string> taskSuper = new List<string>();
                                foreach (var task in Model.tasks)
                                {
                                    if (!taskSuper.Contains(task.supervisor))
                                    {
                                        <option>@task.supervisor</option>
                                        taskSuper.Add(task.supervisor);
                                    }
                                }

                            }
                        </select>
                        <a>
                            <button class="btn btn__top-bar" type="submit">Отфильтровать</button>
                        </a>
                    </form>
                    @Html.Partial("ProjectTableTest")
                </div>
                <div class="third-table">
                    <form class="top-menu" method="post" asp-controller="Home" asp-action="TaskTable">
                        @if (ViewBag.Role != "Сотрудник")
                        {
                            <a asp-controller="Home" asp-action="TaskTable">
                                <button class="btn btn__top-bar" type="button">Добавить задачу</button>
                            </a>}

                        @if (ViewBag.Role == "Директор" || ViewBag.Role == "ГИП")
                        {<a asp-controller="Home" asp-action="TaskTable" asp-route-ProjectCreate="@true">
                                <button class="btn btn__top-bar" type="button">Добавить проект</button>
                            </a>}


                        <select class="select" id="select" name="staffTableFilter">
                            <option value="@Model.filterStaff" selected hidden>@Model.filterStaff</option>
                            <option>Все должности</option>
                            @foreach (Role role in Model.roles.OrderBy(p => p.id))
                            {
                                <option>@role.name</option>
                            }
                        </select>
                        <a>
                            <button class="btn btn__top-bar" type="submit">Отфильтровать</button>
                        </a>
                    </form>
                    @Html.Partial("StaffTableTest")
                </div>
                }
            </div>
            <div class="second-box">
                @if (@ViewBag.Role != null)
                {
                    @if (Model.taskId != -1 && Model.projectId == -1)
                    {
                        if (Model.TaskRed)@Html.Partial("TaskRedact",Model)
                        else @Html.Partial("TaskWatcht", Model.redactedTask)

                    }
                    @if (Model.projectId != -1 && Model.taskId == -1)
                    {
                        if (Model.ProjectRed)@Html.Partial("ProjectRedact",Model)
                        else @Html.Partial("ProjectWatcht", Model.redactedProject)
                    }
                    @if (Model.projectId == -1 && Model.taskId == -1)
                    {
                        @if (Model.ProjectCreate)@Html.Partial("ProjectCreate", Model)
                        else @Html.Partial("TaskCreate",Model)
                    }
                }
                </div>
        </div>

    </main>
    <script src="~/js/script.js"></script>
</body>
</html>
